<div class="card" style="width: 18rem;">
  <%= image_tag closet.image.url, class: 'card-img-top', alt: closet.name, height: '250px'  %>
  <div class="card-body">
    <h5 class="card-title"><%= closet.name %></h5>
    <p class="card-text">
      <%= Category.find(closet.category_id).name %>/<%= Subcategory.find(closet.subcategory_id).name %>
    </p>
    <p class="card-text">
      <strong>季節:</strong>
      <%= closet.season %>
    </p>
    <%= link_to "詳細を見る", closet_path(closet), class: "btn btn-primary" %>
  </div>
</div>
