<div id="<%= dom_id closet %>">
  <p>
    <strong>Name:</strong>
    <%= closet.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= closet.category_id %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= closet.subcategory_id %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= closet.purchase_date %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= closet.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= closet.color %>
  </p>

  <p>
    <strong>Purchase location:</strong>
    <%= closet.purchase_location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= closet.price %>
  </p>

  <p>
    <strong>Usage frequency:</strong>
    <%= closet.usage_frequency %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= closet.season %>
  </p>

  <p>
    <strong>Other comments:</strong>
    <%= closet.other_comments %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= closet.image %>
  </p>

</div>
