<div id="<%= dom_id closet %>">
  <p>
    <strong>Name:</strong>
    <%= closet.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= closet.category_id %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= closet.subcategory_id %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= closet.purchase_date %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= closet.season %>
  </p>


  <p>
    <strong>Image:</strong>
    <%= closet.image %>
  </p>

</div>
