<div id="closet_<%= closet.id %>">
  <p>
    <strong><%= t('closets.name') %>:</strong>
    <%= closet.name %>
  </p>

  <p>
    <strong><%= t('closets.image') %>:</strong>
    <%= closet.image %>
  </p>

  <p>
    <strong><%= t('closets.subcategory') %>:</strong>
    <%= Subcategory.find(closet.subcategory_id).name %>
  </p>

  <p>
    <strong><%= t('closets.season') %>:</strong>
    <%= closet.season %>
  </p>
</div>
