<%= form_with(model: @closet, class: 'row g-3') do |f| %>
  <% if @closet.errors.any? %>
    <div class="col-12">
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(@closet.errors.count, "つのエラー") %> 登録できませんでした:</h4>
        <ul>
          <% @closet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <!-- Left Side -->
    <div class="col-md-4">
      <div class="mb-3">
        <%= f.label :name, t('activerecord.attributes.closet.name'), class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :image, t('activerecord.attributes.closet.image'), class: 'form-label' %>
        <%= f.file_field :image, id: 'image-upload', class: 'form-control', onchange: 'previewImage(this)' %>
        <% if f.object.image? %>
          <%= image_tag f.object.image.url, class: 'fashion_image mt-2', id: 'preview-image' %>
        <% else %>
          <%= image_tag 'sample.png', class: 'fashion_image mt-2', alt: 'default_icon', id: 'preview-image' %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :category_id, t('activerecord.attributes.closet.category_id') %><br />
        <%= f.collection_select :category_id, @categories, :id, :name, prompt: '選択してください' %>
      </div>

      <div class="field">
        <%= f.label :subcategory_id, t('activerecord.attributes.closet.subcategory_id') %><br />
        <%= f.collection_select :subcategory_id, @subcategories, :id, :name, prompt: '選択してください', disabled: true %>
      </div>
    </div>

    <!-- Right Side -->
    <div class="col-md-4">
      <div class="mb-3">
        <%= f.label :color, t('activerecord.attributes.closet.color'), class: 'form-label' %>
        <%= f.text_field :color, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :season, t('activerecord.attributes.closet.season'), class: 'form-label' %>
        <%= f.text_field :season, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :purchase_date, t('activerecord.attributes.closet.purchase_date'), class: 'form-label' %>
        <%= f.date_field :purchase_date, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :size, t('activerecord.attributes.closet.size'), class: 'form-label' %>
        <%= f.text_field :size, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :purchase_location, t('activerecord.attributes.closet.purchase_location'), class: 'form-label' %>
        <%= f.text_field :purchase_location, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :price, t('activerecord.attributes.closet.price'), class: 'form-label' %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :usage_frequency, t('activerecord.attributes.closet.usage_frequency'), class: 'form-label' %>
        <%= f.number_field :usage_frequency, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :other_comments, t('activerecord.attributes.closet.other_comments'), class: 'form-label' %>
        <%= f.text_area :other_comments, class: 'form-control' %>
      </div>
    </div>
    

  <div class="col-12 mt-3">
    <%= f.submit "登録する", class: 'btn btn-primary' %>
  </div>
<% end %>
