<%= form_with(model: closet) do |f| %>
  <% if closet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(closet.errors.count, "error") %> prohibited this closet from being saved:</h2>

      <ul>
        <% closet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('activerecord.attributes.closet.name') %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category_id, t('activerecord.attributes.closet.category_id') %><br />
    <%= f.collection_select :category_id, @categories, :id, :name, prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= f.label :subcategory_id, t('activerecord.attributes.closet.subcategory_id') %><br />
    <%= f.collection_select :subcategory_id, @subcategories, :id, :name, prompt: '選択してください', disabled: true %>
  </div>

  <div class="field">
    <%= f.label :purchase_date, t('activerecord.attributes.closet.purchase_date') %><br />
    <%= f.date_field :purchase_date %>
  </div>

  <div class="field">
    <%= f.label :size, t('activerecord.attributes.closet.size') %><br />
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :color, t('activerecord.attributes.closet.color') %><br />
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :purchase_location, t('activerecord.attributes.closet.purchase_location') %><br />
    <%= f.text_field :purchase_location %>
  </div>

  <div class="field">
    <%= f.label :price, t('activerecord.attributes.closet.price') %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :usage_frequency, t('activerecord.attributes.closet.usage_frequency') %><br />
    <%= f.number_field :usage_frequency %>
  </div>

  <div class="field">
    <%= f.label :season, t('activerecord.attributes.closet.season') %><br />
    <%= f.text_field :season %>
  </div>

  <div class="field">
    <%= f.label :other_comments, t('activerecord.attributes.closet.other_comments') %><br />
    <%= f.text_area :other_comments %>
  </div>

  <div class="field">
    <%= f.label :image, t('activerecord.attributes.closet.image') %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit t('helpers.submit.create', model: Closet.model_name.human) %>
  </div>

<% end %>
