<!-- app/views/closets/new_step2.html.erb -->
<div class="d-flex flex-column vh-100" style="background-image: url('<%= asset_path('todayfashion-06.jpg') %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="overlay" style="background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
  <main class="flex-grow-1 mb-auto">
    <div class="container-fluid light-blue-container p-5">
      <div class="breadcrumb-container">
        <nav>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">基本情報の設定</li>
            <li class="breadcrumb-item active" aria-current="page">追加情報の設定</li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="mb-4">クローゼットの登録</h2>
          <h3 class="mb-8">追加情報の設定</h3>
          <%= form_with model: @closet, url: create_step_closets_path(step: 'step2'), local: true, html: { class: 'needs-validation', novalidate: true } do |f| %>
            <% if @closet.errors.any? %>
              <div class="alert alert-danger">
                <h4 class="alert-heading"><%= pluralize(@closet.errors.count, "つのエラー") %> 登録できませんでした:</h4>
                <ul>
                  <% @closet.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :color, class: 'form-label' %>
              <%= f.text_field :color, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :season, class: 'form-label' %>
              <%= f.select :season, options_for_select(['春', '夏', '秋', '冬', 'その他'], selected: f.object.season), { include_blank: '' }, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :purchase_date, class: 'form-label' %>
              <%= f.date_field :purchase_date, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :size, class: 'form-label' %>
              <%= f.select :size, options_for_select(['子供服', 'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'その他'], selected: f.object.size), { include_blank: '' }, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :purchase_location, class: 'form-label' %>
              <%= f.text_field :purchase_location, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :price, class: 'form-label' %>
              <%= f.text_field :price, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :usage_frequency, class: 'form-label' %>
              <%= f.select :usage_frequency, options_for_select([['高い', 5], ['やや高い', 4],['中', 3],['やや低い', 2], ['低い', 1]], selected: f.object.usage_frequency), { include_blank: '' }, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :other_comments, class: 'form-label' %>
              <%= f.text_area :other_comments, class: 'form-control' %>
            </div></br>

            <div>
              <%= f.submit '登録する', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>

<%= javascript_include_tag 'closet_form' %>
