<div class="row">
  <!-- Left Side -->
  <div class="col-md-6">
    <div class="field">
      <strong><%= t('activerecord.attributes.closet.name') %>:</strong>
      <%= @closet.name %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.image') %>:</strong>
      <%= @closet.image %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.category_id') %>:</strong>
      <%= Category.find(@closet.category_id).name %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.subcategory_id') %>:</strong>
      <%= Subcategory.find(@closet.subcategory_id).name %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.color') %>:</strong>
      <%= @closet.color %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.season') %>:</strong>
      <%= @closet.season %>
    </div>
  </div>

  <!-- Right Side -->
  <div class="col-md-6">
    <div class="field">
      <strong><%= t('activerecord.attributes.closet.purchase_date') %>:</strong>
      <%= @closet.purchase_date %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.size') %>:</strong>
      <%= @closet.size %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.purchase_location') %>:</strong>
      <%= @closet.purchase_location %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.price') %>:</strong>
      <%= @closet.price %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.usage_frequency') %>:</strong>
      <%= @closet.usage_frequency %>
    </div>

    <div class="field">
      <strong><%= t('activerecord.attributes.closet.other_comments') %>:</strong>
      <%= @closet.other_comments %>
    </div>
  </div>
</div>

<div class="mt-3">
  <%= link_to t('closets.edit_link'), edit_closet_path(@closet), class: 'btn btn-warning me-2' %>
  <%= link_to t('closets.back_link'), closets_path, class: 'btn btn-secondary' %>
  <%= button_to t('closets.destroy_button'), @closet, method: :delete, data: { confirm: t('closets.confirm_destroy') }, class: 'btn btn-danger' %>
</div>