<p style="color: green"><%= notice %></p>

<%= render @closet %>

<div>
  <%= link_to "Edit this closet", edit_closet_path(@closet) %> |
  <%= link_to "Back to closets", closets_path %>

  <%= button_to "Destroy this closet", @closet, method: :delete %>
</div>
