<header>
  <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
          <!-- ナビゲーションバーのブランド。root_pathへのリンクと画像を含む -->
          <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'title.png', size: '200x40' %>
          <% end %>
        
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <% if user_signed_in? && current_user.image? %>
                  <%= image_tag current_user.image.url, class: 'icon_image' %>
              <% else %>
                  <%= image_tag 'default_image.png', class: 'icon_image', alt: 'Default Icon' %>
              <% end %>
          </button>  
          <!-- オフキャンバスのコンテンツ -->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <% if user_signed_in? %>
                  <% if current_user.image? %>
                      <%= image_tag current_user.image.url, class: 'icon_image' %>
                  <% else %>
                      <%= image_tag 'default_image.png', class: 'icon_image', alt: 'Default Icon' %>
                  <% end %>
                  <span class="user-name"><%= current_user.name %></span>
              <% end %>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
            </div>
              <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <%= link_to "トップページへ", root_path, class: "dropdown-item" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "プロフィール", edit_user_registration_path, class: 'dropdown-item' if user_signed_in? %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t('nav.sign_up'), new_registration_path(:user), class: 'dropdown-item' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t('nav.log_in'), new_user_session_path, class: 'dropdown-item' %>
                    </li>
                    <li class="nav-item text-center mt-3">
                        <p class="mb-2">Line友達追加お願いいたします！</p>
                        <p class="mb-2">@079weaha</p>
                        <%= image_tag 'QRcode.png', class: 'img-fluid', alt: 'Line QR Code' %>
                    </li>
                    <li class="nav-item text-center mt-3">
                        <p class="mb-2">Lineで登録した方は</p>
                        <p class="mb-2">天気予報を通知にてお知らせいたします(予定)</p>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</header>
