<%= form_with url: show_weather_path, method: :get do |form| %>
  <%= form.label :prefecture, "各都道府県の天気:" %>
  <%= form.select :city, options_for_select(@prefecture_data), prompt: "都道府県を選択してください" %>
  <%= form.submit "天気を検索" %>
<% end %>

<p>今日の日付: <%= Date.current.strftime('%Y年%m月%d日') %></p>
<% if @default_weather %>
  <h2>今日の天気情報</h2>
  <p>都市名: <%= @default_weather[:name] %></p>
  <p>現在の温度: <%= @default_weather[:temp_celsius] %> °C</p>
  <p>最高気温: <%= @default_weather[:temp_max_celsius] %> °C</p>
  <p>最低気温: <%= @default_weather[:temp_min_celsius] %> °C</p>
  <p>湿度: <%= @default_weather[:humidity] %> %</p>
  <p>風速: <%= @default_weather[:wind_speed] %> m/s</p>
  <p>天気: <%= @default_weather[:description] %></p>
  <% if @default_weather[:rainfall].present? %>
    <p>降水量: <%= @default_weather[:rainfall] %> mm</p>
  <% end %>
  <p>今日のひとこと: <%= @default_weather[:today_message] %></p>
<% else %>
  <p>天気情報が取得できませんでした。</p>
<% end %>
