<div class="container mt-5">
  <h1><%= @weather[:name] %> の本日の天気</h1>
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text"><strong>最低温度:</strong> <%= @weather[:temp_min_celsius] %> °C</p>
      <p class="card-text"><strong>最高温度:</strong> <%= @weather[:temp_max_celsius] %> °C</p>
      <p class="card-text"><strong>湿度:</strong> <%= @weather[:humidity] %> %</p>
      <p class="card-text"><strong>風速:</strong> <%= @weather[:wind_speed] %> m/s</p>
      <p class="card-text">天気: <%= @weather[:description] %></p>
      <% if @weather['rainfall'].present? %>
        <p class="card-text">降水量: <%= @weather['rainfall'] %>mm</p>
      <% end %>
      <div style='display: flex; flex-wrap: wrap;'>
        <p>服装指数:</p>
        <%= get_clothing_icons(@weather[:temp_celsius], current_user.constitution_id).join(' ').html_safe %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h2 class="mt-4">5日間の天気予報</h2>

    <% if @weather_data.present? %>
      <div class="row">
        <% @weather_data['list'].group_by { |forecast| Time.at(forecast['dt']).strftime('%Y-%m-%d') }.each do |date, forecasts| %>
          <div class="col-12 mb-3">
            <div class="card">
              <div class="card-header">
                <strong><%= date %></strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <% forecasts.each do |forecast| %>
                    <div class="col-md-3 mb-1">
                      <div class="card">
                        <div class="card-body p-3">
                          <h6 class="card-subtitle mb-2 text-muted"><%= Time.at(forecast['dt']).strftime('%H:%M') %></h6>
                          <p class="card-text mb-1">気温: <%= forecast['main']['temp'] %>℃</p>
                          <p class="card-text mb-1">天気: <%= forecast['weather'][0]['description'] %></p>
                          <img src="https://openweathermap.org/img/wn/<%= forecast['weather'][0]['icon'] %>@2x.png" alt="Weather Icon" class="img-fluid">
                          <% if forecast['rain'].present? && forecast['rain']['3h'].present? %>
                            <p class="card-text mb-1">降水量: <%= forecast['rain']['3h'] %>mm</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">天気情報が取得できませんでした。</p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to '戻る', weather_path, class: "btn btn-primary" %>
  </div>
</div>