<!DOCTYPE html>
<html>
  <head>
    <title>TodayFashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSSをインクルード -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %> 
    <% else %>
      <%= render 'shared/before_login_header' %> 
    <% end %>

    <% flash.each do |type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{type == 'notice' ? 'success' : 'danger'}") %>
    <% end %>
    
    <div class="container" style="padding-top: 90px;"> 
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <!-- Bootstrap JSとPopper.jsをインクルード -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
