<!DOCTYPE html>
<html>
  <head>
    <title>TodayFashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %> 
    <% else %>
      <%= render 'shared/before_login_header' %> 
    <% end %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
