<h2><%= t('edit_user.title') %></h2>

<%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
  <%= render "shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image, id: "image-upload", onchange: "updateImage(this);" %>
    <% if resource.image? %>
      <%= image_tag resource.image.url, class: 'icon_image', id: 'preview-image' %>
    <% else %>
      <%= image_tag 'default_image.png', class: 'icon_image', alt: 'Default Image', id: 'preview-image' %>
    <% end %>
  </div><br />


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><br />

  <div class="field">
    <%= f.label :prefecture_id %><br />
    <%= f.collection_select :prefecture_id, @prefectures, :id, :name, prompt: '選択してください' %>
  </div><br />

  <div class="field">
    <%= f.label :second_prefecture_id %><br />
    <%= f.collection_select :second_prefecture_id, @prefectures, :id, :name, prompt: '選択してください' %>
  </div><br />

  <div class="field">
    <%= f.label :constitution_id %><br />
    <%= f.collection_select :constitution_id, @constitutions, :id, :name, prompt: '選択してください' %>
  </div><br />

  <div class="actions">
    <%= f.submit t('edit_user.update') %>
  </div><br />
<% end %>

<script>
  function updateImage(input) {
    var reader = new FileReader();

    reader.onload = function (e) {
      document.getElementById('preview-image').src = e.target.result;
    };

    reader.readAsDataURL(input.files[0]);
  }

  function removeImage() {
    document.getElementById('preview-image').src = '';
    document.getElementById('image-upload').value = '';
  }
</script>

<h3><%= t('edit_user.cancel_account') %></h3><br />

<div><%= t('edit_user.unhappy') %> <%= button_to t('edit_user.cancel_account_button'), registration_path(resource_name), data: { confirm: t('edit_user.confirmation_message'), turbo_confirm: t('edit_user.confirmation_message') }, method: :delete %></div>
<br />

<%= link_to "トップページへ戻る", root_path, class: 'nav-item' %>

