<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-4"><%= t('sign_up.title') %></h2>
      <%= form_with model: @user, url: registration_path(resource_name), local: true, html: { class: 'needs-validation', novalidate: true } do |f| %>
        <%= render "shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :image %></br>
            <%= f.file_field :image, value: @user.default_image %>
            <% if resource.image? %>
              <%= image_tag resource.image.url, class: 'icon_image', id: 'preview-image' %>
            <% else %>
              <%= image_tag 'default_image.png', class: 'icon_image', alt: 'Default Image', id: 'preview-image' %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :name, class: 'form-label' %><span class="text-danger">*</span>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, class: 'form-label' %><span class="text-danger">*</span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: 'form-label' %><span class="text-danger">*</span>
              <% if @minimum_password_length %>
                <em class="form-text">( <%= @minimum_password_length %> 文字以上で入力してください)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: 'form-label' %><span class="text-danger">*</span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :prefecture_id, class: 'form-label' %></br>
              <%= f.collection_select :prefecture_id, @prefectures, :id, :name, prompt: '選択してください', class: 'form-select' %>
            </div>
            <div class="form-group">
              <%= f.label :second_prefecture_id, class: 'form-label' %></br>
              <%= f.collection_select :second_prefecture_id, @prefectures, :id, :name, prompt: '選択してください', class: 'form-select' %>
            </div>
            <div class="form-group">
              <%= f.label :constitution_id, class: 'form-label' %></br>
              <%= f.collection_select :constitution_id, @constitutions, :id, :name, prompt: '選択してください', class: 'form-select' %>
            </div></br>
            <div>
              <%= f.submit t('actions.sign_up'), class: 'btn btn-primary' %>
            </div></br>
            <div class="form-group">
              <%= render "shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
