<h2>Sign up</h2>

<%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :residence %><br />
    <%= f.select :residence_id, Residence.all.map { |r| [r.name, r.id] }, prompt: 'Select residence' %>
  </div>

  <div class="field">
    <%= f.label :additional_region %><br />
    <%= f.select :additional_region_id, AdditionalRegion.all.map { |ar| [ar.name, ar.id] }, prompt: 'Select additional region' %>
  </div>

  <div class="field">
    <%= f.label :temperature_setting %><br />
    <%= f.select :temperature_setting_id, TemperatureSetting.all.map { |ts| [ts.name, ts.id] }, prompt: 'Select temperature setting' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
