<!-- app/views/users/registrations/step2.html.erb -->
<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-4"><%= t('sign_up.title') %></h2>
      <%= form_with model: resource, url: new_user_registration_step_path(step: 'step2'), local: true, html: { class: 'needs-validation', novalidate: true } do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :password, class: 'form-label' %><span class="text-danger">*</span>
          <% if @minimum_password_length %>
            <em class="form-text">( <%= @minimum_password_length %> 文字以上で入力してください)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'form-label' %><span class="text-danger">*</span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div>
          <%= f.submit 'Next', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
