<!-- app/views/users/registrations/step3.html.erb -->
<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-4"><%= t('sign_up.title') %></h2>
      <%= form_with model: resource, url: new_user_registration_step_path(step: 'step3'), local: true, html: { class: 'needs-validation', novalidate: true } do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :prefecture_id, class: 'form-label' %></br>
          <%= f.collection_select :prefecture_id, @prefectures, :id, :name, prompt: '選択してください', class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= f.label :second_prefecture_id, class: 'form-label' %></br>
          <%= f.collection_select :second_prefecture_id, @prefectures, :id, :name, prompt: '選択してください', class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= f.label :constitution_id, class: 'form-label' %></br>
          <%= f.collection_select :constitution_id, @constitutions, :id, :name, prompt: '選択してください', class: 'form-select' %>
        </div>
        <div class="field">
          <%= f.label :image %></br>
          <%= f.file_field :image, value: resource.default_image %>
          <% if resource.image? %>
            <%= image_tag resource.image.url, class: 'icon_image', id: 'preview-image' %>
          <% else %>
            <%= image_tag 'default_image.png', class: 'icon_image', alt: 'Default Image', id: 'preview-image' %>
          <% end %>
        </div>
        <div>
          <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
